<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body style='background: white;'>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('main.index') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        {% if current_user.is_anonymous %}
        <a class="nav-link"href="{{ url_for('auth.login') }}">Login</a>
          {% else %}
          <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
          {% endif %}
      </li>

    </ul>

  </div>
</nav>
  <div class='container',style='justify-content:space-between'>
  <h1 style='text-align: center;'>{{title}} {{current_user.username}}</h1>
    <h2 style='text-align: center;'><a href='/post'>Hello {{current_user.username}},create a new post here </a></h2>
      {%for post in posts%}
      <ul>
        <li style='list-style-type:none;'>
         <div class='row' style='justify-content: center;' >
          <div class=col-md-6>
             <div  class="card">
            <div class="card-header"><h3>{{post.title}}</h3></div>
            <div class="card-body"><p>{{post.content}}</p></div>
           <div class="card-footer"><p><a href="{{url_for('main.view_comment',id=post.id)}}">view comments</a></p></div>
   </div>
   </div>
  </div>
</li>
</ul>
  </div>
  {%endfor%}
  </div>
  </body>
  </html>
